# BACK-END
# compiled output
/catalogo-filmes-back/dist
/catalogo-filmes-back/node_modules

# Logs
/catalogo-filmes-back/logs
/catalogo-filmes-back/*.log
/catalogo-filmes-back/npm-debug.log*
/catalogo-filmes-back/yarn-debug.log*
/catalogo-filmes-back/yarn-error.log*
/catalogo-filmes-back/lerna-debug.log*

# OS
/catalogo-filmes-back/.DS_Store

# Tests
/catalogo-filmes-back/coverage
/catalogo-filmes-back/.nyc_output

# IDEs and editors
/catalogo-filmes-back/.idea
/catalogo-filmes-back/.project
/catalogo-filmes-back/.classpath
/catalogo-filmes-back/.c9/
/catalogo-filmes-back/*.launch
/catalogo-filmes-back/.settings/
/catalogo-filmes-back/*.sublime-workspace

# IDE - VSCode
/catalogo-filmes-back/.vscode/*
/catalogo-filmes-back/!.vscode/settings.json
/catalogo-filmes-back/!.vscode/tasks.json
/catalogo-filmes-back/!.vscode/launch.json
/catalogo-filmes-back/!.vscode/extensions.json

# Enviroment variables
/catalogo-filmes-back/.env

#FRONT-END
# compiled output
/catalogo-filmes-front/dist
/catalogo-filmes-front/tmp
/catalogo-filmes-front/out-tsc
# Only exists if Bazel was run
/catalogo-filmes-front/bazel-out

# dependencies
/catalogo-filmes-front/node_modules

# profiling files
/catalogo-filmes-front/chrome-profiler-events*.json
/catalogo-filmes-front/speed-measure-plugin*.json

# IDEs and editors
/catalogo-filmes-front/.idea
/catalogo-filmes-front/.project
/catalogo-filmes-front/.classpath
/catalogo-filmes-front/.c9/
/catalogo-filmes-front/*.launch
/catalogo-filmes-front/.settings/
/catalogo-filmes-front/*.sublime-workspace

# IDE - VSCode
/catalogo-filmes-front/.vscode/*
/catalogo-filmes-front/!.vscode/settings.json
/catalogo-filmes-front/!.vscode/tasks.json
/catalogo-filmes-front/!.vscode/launch.json
/catalogo-filmes-front/!.vscode/extensions.json
/catalogo-filmes-front/.history/*

# misc
/catalogo-filmes-front/.sass-cache
/catalogo-filmes-front/connect.lock
/catalogo-filmes-front/coverage
/catalogo-filmes-front/libpeerconnection.log
/catalogo-filmes-front/npm-debug.log
/catalogo-filmes-front/yarn-error.log
/catalogo-filmes-front/testem.log
/catalogo-filmes-front/typings

# System Files
/catalogo-filmes-front/.DS_Store
/catalogo-filmes-front/Thumbs.db
