<div class="sidenav">
    <div class="login-main-text">
        <h2>Bem vindo ao<br> Catálogo de filmes</h2>
        <p>Ainda não tem cadastro? <a href="#">Cadastre-se aqui</a></p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <mat-card class="float-left">
                <mat-tab-group>
                    <mat-tab label="Entre com sua conta">
                        <br>
                        <mat-card-content>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>E-mail</mat-label>
                                <input matInput type="email">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Senha</mat-label>
                                <input matInput type="password">
                            </mat-form-field>
                            <button class="btn btn-dark float-right">Entrar</button>
                        </mat-card-content>
                    </mat-tab>
                    <mat-tab label="Entre com sua rede social">
                        <br>
                        <mat-card-content>
                            <button class="btn btn-lg btn-primary">Login com Facebook</button>
                        </mat-card-content>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>