.spacer {
    flex: 1 1 auto;
  }

  mat-form-field{
    width:1000px !important;
    margin-right: 20%;
    margin-bottom: 1%;
  }

  mat-toolbar{
    background-color: black;
  }

  ::placeholder {
    color: white;
    opacity: 1;
  }