<mat-toolbar style="color: white;">
    <button mat-button (click)="irParaHome()" style="min-height: 68px; min-width: 250px;">
        <span class="material-icons float-left" style="margin-left: 0.5%; margin-right: 0.5%;">
            movie
        </span>
        <h2>Catálogo de filmes</h2>
    </button>
    <span class="spacer"></span>

    <mat-form-field appearance="standard" *ngIf="perfil">
        <input matInput type="text" placeholder="Busque aqui seu filme" [(ngModel)]="termo"
            (keyup.enter)="buscarTermo()">
        <button mat-icon-button (click)="buscarTermo()">
            <span class="material-icons" style="font-size: 36px;">
                search
            </span>
        </button>
    </mat-form-field>
    <button mat-button [matMenuTriggerFor]="accountActions" style="font-size: large;">
        <span class="material-icons" style="font-size: 36px;">
            account_box
        </span>
        {{perfil?.nome || email}}
    </button>
    <mat-menu #accountActions="matMenu">
        <button mat-menu-item *ngIf="perfil" (click)="selecionarPerfil()">Selecionar perfil</button>
        <button mat-menu-item *ngIf="perfil" (click)="filmesAssistidos()">Filmes Assistidos</button>
        <button mat-menu-item *ngIf="perfil" (click)="filmesParaAssistir()">Filmes Para Assistir</button>
        <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
</mat-toolbar>

<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="large" color="#000000" type="fire" [fullScreen]="true"></ngx-spinner>